

<app-home *ngIf="pages=='home'"  (page)="changePage($event)"></app-home>
<app-login *ngIf="pages=='login'" (loginEvent)="changePages($event)"></app-login>
<app-register *ngIf="pages=='register'" (regEvent)="changePage($event)"></app-register>
<app-admin *ngIf="pages=='admin'"  [username] = 'uname' ></app-admin>
<app-customer *ngIf="pages=='customer'" [username] = 'uname' (cartEvent)="changePages($event)" (cartDetails)="prodetails($event)"></app-customer> 
<app-mycart *ngIf="pages=='mycart'" [username] = 'uname' [product]= 'pro' (placeorderEvent)="changePage($event)"></app-mycart>
<app-delivery *ngIf="pages=='delivery'" [username] = 'uname'></app-delivery>
<app-payment *ngIf="pages=='payment'" (payEvent)="changePage($event)"></app-payment>
<app-success *ngIf="pages=='success'" ></app-success>
<app-card *ngIf="pages=='card'" (cardEvent)="changePage($event)"></app-card>